body {
    height: 100vh;
    background-image: url("https://cdn-images-1.medium.com/max/1600/1*Cbj_BcK5ePD4Mc4TK4sfvQ.jpeg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}