<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="fragments/head :: head" xmlns:th="http://www.thymeleaf.org"></head>
<body>

<form action="/add">
    <button type="submit" class="btn btn-dark">Add new Test</button>
</form>

<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <table class="table table-dark">
                <thead>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Add Question</th>
                    <th>Start Test</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="test : ${tests}">
                    <td th:text="${test.id}">
                    <td th:text="${test.name}">
                    <td><a th:href="@{|/tests/${test.id}/add|}">Add Question</a></td>
                    <td><a th:href="@{|/tests/${test.id}/play|}">---></a></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
</body>
</html>